[tool.poetry]
name         = 'rx_data'
description  = 'Project with lists of LFNs and utilities needed to download filteres ntuples'
version      = "0.2.2.dev592"
readme       = 'README.md'
package-mode = true
packages     = [
{include='rx_data',      from='src'},
{include='rx_data_lfns', from='src'},
{include='rx_data_data', from='src'}]

[[tool.poetry.include]]
path = "src/rx_data_data/**/*.yaml"
format = "wheel"

[[tool.poetry.include]]
path = "src/rx_data_data/**/*.json"
format = "wheel"

[[tool.poetry.include]]
path = "src/rx_data_data/**/*.csv"
format = "wheel"

[tool.poetry.dependencies]
python    = '>=3.10,<3.13'
tqdm      = '>=0.0.0'
dask      = '>=0.0.0'
uproot    = '>=0.0.0'
tabulate  = '>=0.0.0'
mplhep    = '>=0.0.0'
particle  = '>=0.0.0'
vector    = '>=0.0.0'
pytest    = {version = '>=0.0.0', optional=true}
xrootd    = {version = '>=0.0.0', optional=true}

[tool.poetry.extras]
ana = ['rx_common', 'rx_selection', 'ap_utilities', 'data-manipulation-utilities', 'ecal_calibration']
tst = ['pytest']           # When developing
net = ['xrootd']           # When doing things that require access to remote files

[build-system]
requires      = [
    'poetry-core>=1.0.0',
    'poetry-dynamic-versioning>=1.0.0'
]
build-backend = 'poetry_dynamic_versioning.backend'

[tool.poetry-dynamic-versioning]
enable       = false
vcs          = 'git'
style        = 'pep440'
pattern      = 'default-unprefixed'
format-jinja = """
{%- if distance == 0 -%}
{{ base }}
{%- else -%}
{{ serialize_pep440(bump_version(base), dev=distance) }}
{%- endif -%}
"""

[tool.poetry.scripts]
move_sample           ='rx_data_scripts.move_sample:main'
make_friend_trees     ='rx_data_scripts.make_friend_trees:main'
check_missing         ='rx_data_scripts.check_missing:main'
check_corrupted       ='rx_data_scripts.check_corrupted:main'
branch_calculator     ='rx_data_scripts.branch_calculator:main'
copy_samples          ='rx_data_scripts.copy_samples:main'
merge_samples         ='rx_data_scripts.merge_samples:main'
dump_metadata         ='rx_data_scripts.dump_metadata:main'
download_rx_data      ='rx_data_scripts.download_rx_data:main'
check_local_stats     ='rx_data_scripts.check_local_stats:main'
check_filtered_stats  ='rx_data_scripts.check_filtered_stats:main'
list_triggers         ='rx_data_scripts.list_triggers:main'
list_lfns             ='rx_data_scripts.list_lfns:main'
