# gmailnudge - 2.0

#=================================================================
# Service mode params
LogLevel            20                          # Logging module levels: 10:DEBUG, 20:INFO, 30:WARNING (default), 40:ERROR, 50:CRITICAL
LogFile             log_gmailnudge.txt          # Abs path, or relative to the tool.config_dir
ServiceLoopTime     5m                          # Time between loop iterations in service mode
NudgeText           GmailNudge                  # Text placed in email subject field in service mode.  Set filter in GMail to delete message with this subject

#=================================================================
# Create "aliases" which may be used with the CLI '--to' field.
[SMTP]
myphone             4805551234@vzwpix.com       # One or more email addresses, space separated
mygmail             myemail@gmail.com
family              email1@xyz.com email2@gmail.com email3@yahoo.com
EmailTo             your.email@yourserver.com   # Required for --service mode

#=================================================================
# Email server params
import              creds_SMTP                  # Provides EmailServer, EmailServerPort, EmailFrom, EmailUser and EmailPass - Absolute path, or relative to tool.config_dir
#EmailVerbose       True                        # True: enable the emailer debug level
#DontEmail          True                        # True: Emails will NOT be sent (for dev/debug)
