.resource-view {
    position: relative;
}

.resource-view .pygments-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


.pygments-highlight h2 {
    display: none;
}

#pygments-spinner {
    gap: 0.25rem;
    display: none;
    align-items: center;
}

.htmx-request#pygments-spinner {
    display: flex;
}

body.pygments-request-pending {
    opacity: 0.7;

}

.pygments_highlight {
    max-height: 700px;
    overflow: auto;
}
