.bz-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  column-gap: calc(var(--bz-spacing) * 6);
  min-height: var(--bz-footer-height);
  padding-block: calc(var(--bz-spacing) * 2);
  padding-inline: calc(var(--bz-page-width) + (var(--bz-spacing) * 10));
  color: var(--bz-footer-color);
  font-size: var(--bz-footer-font-size);
  font-family: var(--bz-footer-font-family);
  background-color: var(--bz-footer-background-color);
  border-top: 1px solid var(--bz-footer-border-color);

  > * {
    margin-block: calc(var(--bz-spacing) * 2);
  }

  a {
    color: var(--bz-footer-link-color);

    &:hover {
      color: var(--bz-footer-link-color-hover);
    }
  }
}
