/* Toggle code output button */
.toggle-output[data-hidden='true'] {
  text-decoration: line-through;
}

.toggle-output {
  cursor: pointer;
  position: absolute;
  top: 3px;
  right: 35px;
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  padding-left: 0.2em;
  padding-right: 0.2em;
  transition: background-color .3s;
  border-radius: 0.4em;
  border-color: transparent;
}

.toggle-output:hover {
    /* To match the color of copy code button */
    background-color: var(--pst-color-shadow);
}

/* Copy code button */
button.copybtn {
  opacity: 1;
  top: 3px;
}

/* Only effects chm files */
div.body {
  max-width: none !important;
}

/* So that the scrollbar does not cover the code blocks in chm files */
/* The default was 1rem but chm files do not support rem apparently */
.highlight > pre {
  padding: 16px;
}
