[buildout]
develop = .
parts = test i18n
find-links = http://download.zope.org/distribution

[test]
recipe = zc.recipe.testrunner
eggs = gocept.form[test]

[i18n]
recipe = lovely.recipe:i18n
package = gocept.form
domain = gocept.form
location = src
output = gocept/form/locales
zcml = <include package="gocept.form" file="ftesting.zcml" />
