article {
  dl, ol, ul {
    margin-top: calc(var(--bz-spacing) * 3);
    margin-bottom: calc(var(--bz-spacing) * 6);
  }

  ul, ol {
    padding-inline-start: 1.25rem;
  }

  :is(ul, ol) :is(ul, ol) {
    margin-top: calc(var(--bz-spacing) * 1);
    margin-bottom: calc(var(--bz-spacing) * 2);
    padding-inline-start: calc(var(--bz-spacing) * 5);
  }

  ul {
    list-style: disc;
  }

  ul > li > ul {
    list-style: circle;
  }

  ul > li > ul > li > ul {
    list-style: square;
  }

  li {
    padding-left: calc(var(--bz-spacing) * 0.5);
  }

  li::marker {
    color: var(--bz-list-marker-color);
    font-size: var(--bz-list-marker-font-size);
    font-family: var(--bz-list-marker-font-family);
  }

  li > p {
    line-height: 1.4;
    margin-top: calc(var(--bz-spacing) * 1.5);
  }

  li > p:last-child {
    margin-top: calc(var(--bz-spacing) * 1);
  }

  li > p:first-child {
    margin-block: calc(var(--bz-spacing) * 1);
  }

  ol.arabic {
    list-style: decimal;
  }

  ol.loweralpha {
    list-style: lower-alpha;
  }

  ol.upperalpha {
    list-style: upper-alpha;
  }

  ol.lowerroman {
    list-style: lower-roman;
  }

  ol.upperroman {
    list-style: upper-roman;
  }

  dt {
    font-weight: 500;

    &:has(kbd) {
      padding-bottom: calc(var(--bz-spacing) * 0.5);
    }
  }

  dd {
    padding-left: calc(var(--bz-spacing) * 6);
  }

  dd > p {
    line-height: 1.4;
    margin-block: calc(var(--bz-spacing) * 2);
  }

  dd > :first-child {
    margin-top: calc(var(--bz-spacing) * 1);
  }

  dd > :last-child {
    margin-bottom: calc(var(--bz-spacing) * 2.5);
  }

  dl dt .classifier:before {
    content: ":";
    margin-inline: calc(var(--bz-spacing) * 1);
  }

  .hlist tr {
    display: flex;
    align-items: baseline;
    gap: calc(var(--bz-spacing) * 4);
  }
}
