
.rst-content div[class^=highlight-good],
.rst-content div[class^=highlight-bad] {
    border-left: 2px solid transparent;
}

.rst-content div[class^=highlight-good] {
    border-left-color: rgba(74, 182, 93, 1);
}

.rst-content div[class^=highlight-bad]  {
    border-left-color: rgb(244, 76, 78);
}
