.bz-article-header {
  position: sticky;
  display: flex;
  z-index: 500;
  align-items: center;
  justify-content: space-between;
  gap: calc(var(--bz-spacing) * 4);
  margin-top: calc(var(--bz-spacing) * -4);
  margin-inline: calc(var(--bz-spacing) * -2);
  padding-block: calc(var(--bz-spacing) * 4);
  padding-inline: calc(var(--bz-spacing) * 1);
  background: linear-gradient(to bottom, var(--bz-page-background-color) 90%, transparent);
  top: var(--bz-header-tabs-height);

  > * {
    min-width: 0;
  }

  @media (width > 52rem) {
    top: var(--bz-header-height);
  }
}

.bz-sidebar-secondary-toggle {
  display: none;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 1.125rem;
  padding-block: var(--bz-spacing);

  svg {
    display: block;
  }
}

:has(.bz-sidebar-secondary) .bz-sidebar-secondary-toggle {
  @media (width <= 75rem) {
    display: block;
  }
}
