.bz-breadcrumb {
  font-weight: 400;
  font-size: var(--bz-breadcrumb-font-size);
  font-family: var(--bz-breadcrumb-font-family);
  color: var(--bz-breadcrumb-color);
}

.bz-breadcrumb a {
  font-weight: 300;
  text-decoration: none;
  color: var(--bz-breadcrumb-link-color);
  &:hover {
    color: var(--bz-breadcrumb-link-color-hover);
  }
}

.bz-breadcrumb li > * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bz-breadcrumb-home {
  flex-shrink: 0;
  svg {
    display: block;
    height: 1em;
  }
}

.bz-breadcrumb :where(ol, li) {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  flex-wrap: nowrap;
  align-items: center;
  padding: calc(var(--bz-spacing) * 2);
  margin: calc(var(--bz-spacing) * -2);
}

.bz-breadcrumb li:not(:last-child)::after {
  content: "";
  display: block;
  flex-shrink: 0;
  height: 1.125em;
  width: 1.125em;
  background-color: var(--bz-breadcrumb-separator-color);
  mask-image: var(--bz-breadcrumb-separator-icon);
  margin-bottom: -0.125em;
}
