.log-msg {
    font-weight: bold;
}

.DEBUG {
    color: #888;
}

.INFO {
    color: #ba5;
}

.WARNING {
    color: #f93;
}

.ERROR {
    color: #b41;
}

.CRITICAL {
    color: #e10;
}

.DEBUG-bg {
    background-color: #888;
}

.INFO-bg {
    background-color: #ba5;
}

.WARNING-bg {
    background-color: #f93;
}

.ERROR-bg {
    background-color: #b41;
}

.CRITICAL-bg {
    background-color: #e10;
}
