#full-view {
    height: 100%;
    overflow: hidden;
}

#vert-hist-sep {
    width: 1rem;
    min-width: 1rem;
    height: 100%;
}

#hist-parent {
    width: 100%;
    position: relative;
}

svg {
    width: 100%;
    height: auto;
}
