dl[class]:not(.option-list, .field-list, .footnote, .glossary, .simple) {
  .sig + dd {
    clear: right;
  }

  > dd, > dd > p {
    padding-left: calc(var(--bz-spacing) * 2);
  }

  dl:not(.field-list) {
    padding-left: calc(var(--bz-spacing) * 5);
  }

  dl.field-list dd > ul {
    margin-bottom: calc(var(--bz-spacing) * 4);
  }

  dl.field-list {
    display: block;
    border-radius: var(--bz-border-radius);
    color: var(--bz-sig-table-color);
    font-size: var(--bz-sig-table-font-size);
    font-family: var(--bz-sig-table-font-family);
    border: 1px solid var(--bz-sig-border-color);
    background-color: var(--bz-sig-table-background-color);
    border-top: none;
    > dd {
      padding-inline: calc(var(--bz-spacing) * 3);
    }
  }

  dt.field-odd, dt.field-even {
    text-transform: uppercase;
    color: var(--bz-sig-table-head-color);
    font-size: var(--bz-sig-table-head-font-size);
    font-family: var(--bz-sig-table-head-font-family);
    border-bottom: 1px solid var(--bz-sig-border-color);
    background-color: var(--bz-sig-table-head-background-color);
    padding: calc(var(--bz-spacing) * 1.5) calc(var(--bz-spacing) * 3);
    margin-bottom: calc(var(--bz-spacing) * 2);

    &:first-child {
      border-radius: calc(var(--bz-border-radius) / 2) calc(var(--bz-border-radius) / 2) 0 0;
    }
  }
}

dl[class]:not(.option-list, .field-list, .footnote, .glossary, .simple):not(
    dl[class]:not(.option-list, .field-list, .footnote, .glossary, .simple)
      dl[class]:not(.option-list, .field-list, .footnote, .glossary, .simple)
  ) {
  margin-bottom: calc(var(--bz-spacing) * 10);
}

dl > dt > a:has(.viewcode-link) {
  user-select: none;
  float: right;
}

.sig {
  display: block;
  overflow-y: auto;
  border-radius: var(--bz-border-radius)!important;
  color: var(--bz-sig-color);
  font-size: var(--bz-sig-font-size);
  font-family: var(--bz-sig-font-family);
  font-weight: 600;
  border: 1px solid var(--bz-sig-border-color);
  background-color: var(--bz-sig-background-color);
  border-top: 8px solid color-mix(in oklab, var(--bz-sig-accent-color) 25%, transparent);
  padding: calc(var(--bz-spacing) * 1.5) calc(var(--bz-spacing) * 2);
  margin: calc(var(--bz-spacing) * 5) 0 calc(var(--bz-spacing) * 3);
}

.sig-name {
  color: var(--bz-sig-name-color);
}

.sig .property {
  color: var(--bz-sig-property-color);
}

.sig-param, .sig-return {
  font-size: .9em;
  font-style: normal;
}

.sig-param .o, .sig-return {
  color: var(--bz-sig-type-color);
}

.sig-param .n {
  color: var(--bz-sig-param-color);
}

.sig-param .n:not(:first-of-type) {
  font-weight: normal;
  color: var(--bz-sig-type-color);
}

.sig-param .default_value {
  color: var(--bz-sig-default-color);
  font-weight: bold;
}

.sig dl {
  margin: 0;
  padding-left: 0 !important;
}

.sig dl dd {
  padding-left: 0;

  &::before {
    content: "··";
    color: var(--bz-sig-space-color);
    margin-right: calc(var(--bz-spacing) * 1);
  }
}

.viewcode-block:target {
  background-color: var(--bz-target-background-color);
  margin-inline: calc(var(--bz-spacing) * -2);
  padding-inline: calc(var(--bz-spacing) * 2);
}
