# This buildout is used for development of dataflake.fakeldap.

[buildout]
extends =
    https://zopefoundation.github.io/Zope/releases/master/versions.cfg
develop = .
parts = 
    test


[test]
recipe = zc.recipe.testrunner
eggs =
    dataflake.fakeldap[test]
